html  
 head
    title!= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")
    block head
 body
    block content
    footer.footer
        div.container
            div.content.has-text-centered
                p
                    strong Node CMS 
                    | by 
                    a(href="#") M1 Dév 
                    | from 
                    a(href="#") ECV Digital Bordeaux 
                    | | © Copyright 2017/2018 - Tous droits réservés
    block scripts
    