.card.is-4.column
	.card-image
		figure.image.is-4by3
			img(src='https://bulma.io/images/placeholders/1280x960.png', alt='Placeholder image')
	.card-content
		.media
			.media-left
				figure.image.is-48x48
					img(src='https://bulma.io/images/placeholders/96x96.png', alt='Placeholder image')
			.media-content
				p.title.is-4
					a(href="/articles/"+article.fields.slug)!=article.fields.title
				p.subtitle.is-6 @johnsmith
		.content
			p!=article.fields.content
			if article.fields.categories
				each category in article.fields.categories
					a(href='#')
						span # 
						!=category
			br
			time(datetime='2016-1-1')!=article.fields.date_publish
