extends ../layout.pug

block content
    main.container
      h1.title Liste des articles
      section.columns.is-multiline
          each article in articles
              include components/preview.pug